<mat-card class="sing-up-card" appearance="outlined">
  <mat-card-title> Sing up</mat-card-title>
  <mat-stepper class="example-stepper" [orientation]="(stepperOrientation$ | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Fill data about your company">
      <form [formGroup]="firstFormGroup">
        <div class="name-container">
          <mat-form-field class="w400" appearance="outline">
            <mat-label>Organization Name</mat-label>
            <input matInput formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Choose Sector</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill data about user">
      <form [formGroup]="secondFormGroup">
        <div class="main-content-user">
          <div class="user-data">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="secondCtrl" required>
          </mat-form-field>
          <div class="user-data">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="secondCtrl">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Overview">
      <form [formGroup]="thirdFormGroup">

        <div class="main-content-user">

          <div class="name-container">
            <mat-form-field class="w400" appearance="outline">
              <mat-label>Organization Name</mat-label>
              <input matInput disabled>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Choose Sector</mat-label>
              <input matInput disabled>
            </mat-form-field>
          </div>

          <div class="user-data">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput disabled>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput disabled>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput disabled>
          </mat-form-field>
          <div class="user-data">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput disabled>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput disabled>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput disabled> </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
