.sing-up-card{
  height: 400px;
  mat-card-title{
    font-size: 44px;
    text-align: center;
    margin-top: 5%;
    height: 15%;
  }
}

.name-container{
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 5%;
}
