<mat-card class="sing-up-card" appearance="outlined">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-stepper [orientation]="(stepperOrientation$ | async)!">

    <mat-step label="Fill data about your company">
      <form (ngSubmit)="onFirstFormSubmit(companyForm)" #companyForm="ngForm">
        <div class="name-container">

          <mat-form-field class="w400" [ngClass]="{'error-message-red': companyExists()}" appearance="outline">
            <mat-label>Organization Name</mat-label>
            <div class="input-with-btn">

              <input matInput (ngModelChange)="companyNameSignal.set($event)" #companyName="ngModel" [(ngModel)]="company.name"
                name="companyName" type="text" minlength="2" maxlength="30" pattern="^[a-zA-ZäöüÄÖÜß\\s-]+$"
                pattern="^(?!.*(Test|Admin|Firma)).*$" required>
            </div>
            <div class="error-container">
              @if (companyExists()) {
             <div class="error-message-red"> {{errorMessage()}} </div>
             }
             @else if (!companyName.valid && companyName.touched) {
              <div class="error-message-red"> Please enter name of your company</div>
             }
           </div>
          </mat-form-field>

          <mat-form-field class="w400" appearance="outline">
            <mat-label>Choose Sector</mat-label>
            <mat-select [(ngModel)]="company.sectorId" name="companySector" #companySector="ngModel" required
              (selectionChange)="onSectorChange($event.value)">
              @for (sector of sectors; track $index) {
              <mat-option [value]="sector.sectorId">
                {{ sector.bezeichnung }}
              </mat-option>
              }

            </mat-select>


          </mat-form-field>
          <div class="error-container-sector"> @if (!company.sectorId && companySector.touched) {
            <div class="error-message-red">
              Sector selection is required.
            </div>
            }
          </div>
        </div>
        <div class="btn-next">
          <button mat-raised-button matStepperNext [disabled]="!companyForm.valid || companyExists() || !company.sectorId"
            type="submit">Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step label="Fill data about user">
      <form (ngSubmit)="onSecondFormSubmit(userForm)" #userForm="ngForm">
        <div class="main-content-user">
          <div class="user-data">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput [(ngModel)]="user.firstName" name="firstName" required>
              @if (name.invalid && name.touched) {
              <mat-error>
                First name is required.
              </mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput [(ngModel)]="user.lastName" name="lastName" required>
              @if(name.invalid && name.touched){
              Last name is required.
              }
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput [(ngModel)]="user.userName" #name="ngModel" name="userName"
              (ngModelChange)="checkUsername($event)" required>
            <mat-error *ngIf="name.touched && name.invalid">
              Username is required.
            </mat-error>
            <mat-error *ngIf="usernameExists && !checking">
              Username already exists!
            </mat-error>
            <mat-error *ngIf="checking">
              Checking username...
            </mat-error>
          </mat-form-field>
          <div class="user-data">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [(ngModel)]="user.password" name="password" type="password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput [(ngModel)]="user.confirmPassword" name="confirmPassword" type="password" required>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="user.email" name="email">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext type="submit">Next</button>
        </div>
      </form>
    </mat-step>


    <mat-step label="Overview">
      <div class="main-content-user">
        <div class="name-container">
          <mat-form-field class="w400" appearance="outline">
            <mat-label>Organization Name</mat-label>
            <input matInput [value]="company.name" disabled>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label> Sector</mat-label>
            <input matInput [value]="selectedSectorName" disabled>
          </mat-form-field>
        </div>

        <div class="user-data">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput [value]="user.firstName" disabled>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput [value]="user.lastName" disabled>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput [value]="user.userName" disabled>
        </mat-form-field>
        <div class="user-data">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [value]="user.password" type="password" disabled>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput [value]="user.confirmPassword" type="password" disabled>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput [value]="user.email" disabled>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button type="submit">Finish</button>
      </div>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
