.log-in-card{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-card-header{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  min-height: 96px;

}

.log-in-card-title{
  font-size: 48px;
}

mat-card-content{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

input{
  width: 100%;
}
